@import "config";
@import "components";
@import "typography";
@import "mediaQueries";

// Change font family for every element
* {
  font-family: system-ui;
}

// Set theme
body {
  background: var(--background);
  color: var(--on-background);
}
